*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 70px;
    padding: 50px;
    border-radius: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 5px white,
                0 0 15px green,
                0 0 25px green,
                0 0 35px green;
    text-shadow: 0 0 .4px green,
                0 0 .8px green,
                0 0 1.2px green,
                0 0 1.6px green,
                0 0 2px green; 
    transform: perspective(400px) rotateY(-15deg) rotateX(15deg);  
    transition: 700ms; 
    cursor: pointer;        
}
h1:hover{
    transform: perspective(400px) rotateY(15deg) rotateX(-15deg);
}